@font-face {
  font-family: 'bitOperatorPlus';
  src: url('webfonts/bitOperatorPlus.eot?#iefix') format('embedded-opentype'),
       url('webfonts/bitOperatorPlus.woff') format('woff'),
       url('webfonts/bitOperatorPlus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'bitOperatorPlus';
  text-align: center;
  color: #ff6;
}

#content {
  width: 900px;
  height: 600px;
  margin: auto;
}

body {
  background-color: black;
}
